{% extends "blog/base.html" %}
{% block content %}
<div class="aboutbox">
  <h1>
      About Climate Bots
  </h1>

</div>


<br>


<div class="missionbox">
  <h3>OUR MISSION</h3>
  <div class="missionstatement">
      <p>
          Climate Bots would like to provide a realiable source of information and a voice for people around the world in terms of environmentally friendly practices.We are working with the United Nations to build an environmentally friendly future where each global citizen is able to help from the comfort of their own home
      </p>
  </div>
</div>

<div class="boxpromise">
  <h3>OUR PROMISE </h3>
  <div id="boxes">
    <div class="container">
      <div class="box">
        <img src="../../../media/img/other/reliability.png">
        <h2>Accessibility</h2>
        <p>Through the blog, people all around are able to voice their concerns and share their experiences. </p>
      </div>
      <div class="box">
        <img src="../../../media/img/other/holding hands.png">
        <h2>A Voice</h2>
        <p>This website is accessible to everyone around the world. No one will be restricted on reaching information that they wish to know about the current situation of the Earth and what they can do to help.</p>
      </div>
      <div class="box">
        <img src="../../../media/img/other/megaphone.png">
        <h2>Reliability</h2>
        <p>The information posted on the blogs and anywhere else on this website is closely monitored to check for any community guidelines that have been breached.</p>
      </div>
    </div>
  </div>
</div>



<div class="boxhope">
  <div class="hopeheading">
      <h3> Our Hope</h3>
      <div class="box-flex">
        <div class="hopebox1">
          <img src="../../../media/img/other/involvement.png" alt="2">
          <h4> Increase Involvement</h4>
          <p>Involvment of each and every person is needed at this time. The climate needs help and it needs it now. By invlovling people of all ages to complete challenges and post experiences, we are able to create a global community.  </p>
        </div>
        <div class="hopebox1">
          <img src="../../../media/img/other/carbonfootprint.png" alt="4">
          <h4> Reduce Our Carbon Footprint</h4>
          <p> The most developed countries usually have the highest carbon footprint. We need to start focusing on reducing our carbon footprints by participating in environmentally friendly activites every single day.  </p>
        </div>
        <div class="hopebox1">
          <img src="../../../media/img/other/awareness.png" alt="1">
          <h4> Improve Environmental Awareness</h4>
          <p>The first step towards reaching a sustainable future is to increase environmental awareness around the world. Through access to Climate Bots, people are able to improve thier knoweldge about the environment and the dire need for environmental improvement. </p>
        </div>
        <div class="hopebox1">
          <img src="../../../media/img/other/sustainability.png" alt="1">
          <h4> Improve Sustainiability</h4>
          <p>The most important goals is to achieve sustaibility by ensuring future generations are also able to enjoy the Earth's resourses responsibly without depleting them.</p>
        </div>
      </div>
  </div>


  <!-- this is three images and they are going to be in a line-->
  <!--
  <div class="box2">
      <img src="../../../media/img/other/involvement.png" alt="2">
      <h4> Increase Involvement</h4>
      <p>Involvment of each and every person is needed at this time. The climate needs help and it needs it now. By invlovling people of all ages to complete challenges and post experiences, we are able to create a global community.  </p>
  </div>

  <div class="box4">
      <img src="../../../media/img/other/carbonfootprint.png" alt="4">
      <h4> Reduce Our Carbon Footprint</h4>
      <p> The most developed countries usually have the highest carbon footprint. We need to start focusing on reducing our carbon footprints by participating in environmentally friendly activites every single day.  </p>
  </div>

  <div class="box1">
      <img src="../../../media/img/other/awareness.png" alt="1">
      <h4> Improve Environmental Awareness</h4>
      <p>The first step towards reaching a sustainable future is to increase environmental awareness around the world. Through access to Climate Bots, people are able to improve thier knoweldge about the environment and the dire need for environmental improvement. </p>
  </div>
  <br>
 
  <br>
  <div class="box3">
      <img src="../../../media/img/other/sustainability.png" alt="3">
      <h4> Improve Sustainiability</h4>
      <p> The most important goals is to achieve sustaibility by ensuring future generations are also able to enjoy the Earth's resourses responsibly without depleting them.  </p>
  </div>
</div>
<br>
<br>
<br>

-->
{% endblock content %}
