{% extends "blog/base.html" %}
{% block content %}
<div class="chat-body">
  <div class="chat-chat-body">
    <div id="chat-chat-container">
      <div id="chat-search-container"> 
        <input type="text" placeholder="Search"/>
      </div>

      <div id="chat-conversation-list"> 
        <div class="chat-conversation active">
          <img src="../../../media/img/profiles/girl6.png" alt="Sasha Sharma"/>
          <div class="chat-title-text">
            Sashh
          </div>
          <div class="chat-created-date">
            Jul 19
          </div>
          <div class="chat-conversation-message">
            Yeah sure I’ll have it ready by then. See you later Sasha.
          </div>
        </div> 

        <div class="chat-conversation">
          <img src="../../../media/img/profiles/girl1.jpg" alt="Emily Hanson"/>
          <div class="chat-title-text">
            Flowers123
          </div>
          <div class="chat-created-date">
            Jul 19
          </div>
          <div class="chat-conversation-message">
            Goodbye!
          </div>
        </div> 

        <div class="chat-conversation">
          <img src="../../../media/img/profiles/boy1.png" alt="Johnathan"/>
          <div class="chat-title-text">
            iLOVEgreen
          </div>
          <div class="chat-created-date">
            Jul 19
          </div>
          <div class="chat-conversation-message">
            Let’s meet for tree planting.
          </div>
        </div> 

        <div class="chat-conversation">
          <img src="../../../media/img/profiles/girl2.png" alt="Emma"/>
          <div class="chat-title-text">
            Emma17
          </div>
          <div class="chat-created-date">
            Jul 19
          </div>
          <div class="chat-conversation-message">
            Call me sometime!
          </div>
        </div> 

        <div class="chat-conversation">
          <img src="../../../media/img/profiles/boy2.png" alt="Ward Trace"/>
          <div class="chat-title-text">
            TravisNature
          </div>
          <div class="chat-created-date">
            Jul 19
          </div>
          <div class="chat-conversation-message">
            Hey bro, how's the protest?
          </div>
        </div> 

        <div class="chat-conversation">
          <img src="../../../media/img/profiles/boy3.png" alt="Mariano Gulotta"/>
          <div class="chat-title-text">
            4ChangeWatson
          </div>
          <div class="chat-created-date">
            Jul 19
          </div>
          <div class="chat-conversation-message">
            I’ve gone vegan for a while, it is really good for the environment.
          </div>
        </div> 

        <div class="chat-conversation">
          <img src="../../../media/img/profiles/girl5.jpg" alt="Velvet Groesbeck"/>
          <div class="chat-title-text">
            FaithG
          </div>
          <div class="chat-created-date">
            Jul 18
          </div>
          <div class="chat-conversation-message">
            I use PlantCo. soil for my crops.
          </div>
        </div> 
        <div class="chat-conversation">
          <img src="../../../media/img/profiles/girl4.png" alt="Armandina Mahurin"/>
          <div class="chat-title-text">
            Katarina13
          </div>
          <div class="chat-created-date">
            Jul 18
          </div>
          <div class="chat-conversation-message">
            Thank you for the advice.
          </div>
        </div>
        <div class="chat-conversation">
          <img src="../../../media/img/profiles/boy5.png" alt="William James"/>
          <div class="chat-title-text">
            Jayce_
          </div>
          <div class="chat-created-date">
            Jul 18
          </div>
          <div class="chat-conversation-message">
            See you tomorrow!
          </div>
        </div>

      </div>

      <div id="chat-new-message-container"> 
       <a href="#">+</a>
      </div>
      <div id="chat-title"> 
        <span>Sashh</span>
        <img src="../../../media/img/icons/trash.png" alt ="Delete Conversation"/>
      </div>
      <div id="chat-message-list"> 
        <div class="chat-message-row you-message">
          <div class="chat-message-content">
            <div class="chat-message-text">Yeah sure I’ll have it ready by then. See you later Sasha.</div>
            <div class="chat-message-time">7:24 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row other-message">
          <div class="chat-message-content">
            <img src="../../../media/img/profiles/girl6.png" alt="Sasha Sharma"/>
            <div class="chat-message-text">
              Already on it! Yes, I see the post. Glad to network with you and start this. I can't wait to see how we can solve this issue.
            </div>
            <div class="chat-message-time">7:18 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row you-message">
          <div class="chat-message-content">
            <div class="chat-message-text">Perfect! I am posting right now. Let me know when you see it and let's spread the word.</div>
            <div class="chat-message-time">7:16 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row other-message">
          <div class="chat-message-content">
            <img src="../../../media/img/profiles/girl6.png" alt="Sasha Sharma"/>
            <div class="chat-message-text">
              Yes, for sure! That is a wonderful idea. We can make a team and everyone can collect the pins and then we can donate them together. As such, we are an intermediary in this distribution channel!
            </div>
            <div class="chat-message-time">7:16 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row you-message">
          <div class="chat-message-content">
            <div class="chat-message-text">Oh wow that is very cool. Who knew there were so many uses for such a small object!
              I know right. Maybe we can post another blog about it and see if anyone in the community is interested?</div>
            <div class="chat-message-time">7:15 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row other-message">
          <div class="chat-message-content">
            <img src="../../../media/img/profiles/girl6.png" alt="Sasha Sharma"/>
            <div class="chat-message-text">
              I researched a bit more and found some organizations that we can send collected coke can pins too and they can use them to make wheelchairs and other items such as brooches.
            </div>
            <div class="chat-message-time">7:10 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row you-message">
          <div class="chat-message-content">
            <div class="chat-message-text">Yes, for sure! I would love that. It would be great to get this message across and stop such little pins from harming our planet.</div>
            <div class="chat-message-time">7:00 a.m.</div>
          </div>
        </div>
        <div class="chat-message-row other-message">
          <div class="chat-message-content">
            <img src="../../../media/img/profiles/girl6.png" alt="Sasha Sharma"/>
            <div class="chat-message-text">
              That is so cool, I must say! I just researched about it and noticed it can take over 450 years for it to degrade so it is a must that we recycle it. Maybe we can create an organization about this?
            </div>
            <div class="chat-message-time">Jul 18</div>
          </div>
        </div>
        <div class="chat-message-row you-message">
          <div class="chat-message-content">
            <div class="chat-message-text">Hey Sasha,Well, I noticed that my family usually just throws them out and in our world today, there are so many different ways to recycle. Thus, I researched and found out about this! </div>
            <div class="chat-message-time">Jul 18</div>
          </div>
        </div>
        <div class="chat-message-row other-message">
          <div class="chat-message-content">
            <img src="../../../media/img/profiles/girl6.png" alt="Sasha Sharma"/>
            <div class="chat-message-text">
              Hello Isshana! I saw your post about recycling coke can pins to make wheelchairs and I think that is a splendid idea. How did you find out about this?
            </div>
            <div class="chat-message-time">Jul 18</div>
          </div>
        </div>
      </div>
      <div id="chat-form"> 
        <img src="../../../media/img/icons/paperclip.png" alt="Add Attachment"/>
        <input type='text' placeholder="type a message"/>
      </div>
    </div>
  </div>
</div>   
{% endblock %}
