{% extends "blog/base.html" %}
{% block content %}
<div class="unique-header">
  <h1>Plant A Tree</h1>
  <div class ="btn-wrapper">
    <button class="unique-btn"><a href="{% url 'blog-uniqueideas' %}">Back</a></button>
  </div>
</div>  
<div class="unique-detailview">
  <h2>How Planting A Tree Helps the Environment</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem in voluptates maiores ipsa dicta nulla incidunt quo voluptatibus nemo ut accusantium vel, cum quasi doloremque possimus consequuntur corrupti laborum! Maiores tenetur amet iusto deserunt exercitationem laborum earum voluptas, ut totam hic at magnam, similique fuga quod iste esse. Aliquid et iure, expedita deleniti inventore placeat aliquam consectetur voluptates? Quo error nesciunt, assumenda deleniti vitae tempore quis laboriosam totam ipsa impedit. </p>
  <img src="../../../media/img/other/detailtree1.jpg">
</div>
<div class="unique-detailview">
  <h2>Examples</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem in voluptates maiores ipsa dicta nulla incidunt quo voluptatibus nemo ut accusantium vel, cum quasi doloremque possimus consequuntur corrupti laborum! Maiores tenetur amet iusto deserunt exercitationem laborum earum voluptas, ut totam hic at magnam, similique fuga quod iste esse. Aliquid et iure, expedita deleniti inventore placeat aliquam consectetur voluptates? Quo error nesciunt, assumenda deleniti vitae tempore quis laboriosam totam ipsa impedit. </p>
  <div class="images-flex">
    <img src="../../../media/img/other/detailplanttree1.jpg">
    <img src="../../../media/img/other/detailplanttree2.jpg">
  </div>
</div>    

{% endblock content %}