{% extends "blog/base.html" %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../media/img/other/caro1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Attend A Climate Protest</h5>
        <p>There are many climate protests where YOU can make a difference.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../media/img/other/caro2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Start Planting</h5>
        <p>15.3 BILLION trees are cut down every year. We need to grow them again.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../media/img/other/caro3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Go on a bike ride!</h5>
        <p> It's a fun way to spend time with your friends and be with nature.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="ui-container">
  <button class = "ui-btn ui-btn1"><a href="{% url 'blog-plantatree' %}">Plant a tree</a></button>
  <button class = "ui-btn ui-btn2"><a href="#">Buy groceries locally</a></button>
  <button class = "ui-btn ui-btn3"><a href="#">Use your own containers</a></button>
  <button class = "ui-btn ui-btn4"><a href="#">Replace inefficient light bulbs</a></button>
  <button class = "ui-btn ui-btn5"><a href="#">Take a hike</a></button>
  <button class = "ui-btn ui-btn6"><a href="#">Read about the issue</a></button>
  <button class = "ui-btn ui-btn7"><a href="#">Slower shipping</a></button>
  <button class = "ui-btn ui-btn8"><a href="#">Unplug unused utilities</a></button>
</div>
{% endblock%}